
* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-text-size-adjust: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}

html,body {
	height: 100%;
}

body {
	background-color: #eee;
}

.wrap {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	height: auto;
}

.img100 {
	max-width: 100%;
	width: auto !important;
	width: 100%;
}
.slide_img{
	max-height: 300px !important;
}

#autoplay, .slide_wrap {
	position:relative;
	width:100%;
	overflow:hidden;
}

.content_wrap {
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	margin: 0 15px;
	color: #8d968c;
	line-height: 20px;
}

.content_wrap h1 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 15px;
	color: #50a27f;
}

.content_wrap h1 img {
	height: 40px;
	vertical-align: middle;
}

.contact_wrap {
	text-align: center;
	padding-top: 15px;
}

.contact_wrap a {
	font-size: 15px;
	color: #2f302c;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	min-width: 40px;
	border-radius: 5px;
}

.contact_wrap a.bg1 {
	background-color: #bbedc8;
}

.contact_wrap a.bg2 {
	background-color: #9bddbe;
}

.contact_wrap a.bg3 {
	background-color: #ccf2cb;
}

.contact_wrap img {
	height: 15px;
	padding-right: 5px;
	vertical-align: middle;
	position: relative;
	top: -2px;
}

.date_wrap {
	margin: 0 15px;
	padding: 20px 0 0 0;
	text-align: left;
	font-size: 13px;
}

.date_wrap img {
	height: 15px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	padding-right: 5px;
}

.addr_wrap {
	margin: 0 15px;
	padding: 10px 0;
	text-align: left;
	font-size: 13px;
}

.addr_wrap img {
	height: 15px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	padding-right: 5px;
}

.map_wrap {
	margin: 0 15px;
	height: 200px;
	background-color: #ddd;
	text-align: center;
	font-size: 14px;
}

.tras_wrap {
	margin: 0 15px;
	font-size: 14px;
	padding-bottom: 20px;
}

.tras_wrap div {
	padding-top: 10px;
}

.tras_wrap div.what {
	color: #888;
}

.tras_wrap div.is {
	color: #8d968c;
	font-weight: bold;
	margin: 0 20px;
}

.tras_wrap img {
	height: 14px;
	vertical-align: middle;
	position: relative;
	top: -3px;
	padding-right: 5px;
}
.copy {
	font-size:12px;
	color:#888;
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;
}
.slick-prev,.slick-next {
	display:none !important;
}

/*hyemi 추가*/

/* wrap 안에 컨테이너 */
.container {
	background-color: #dfded6;
	padding-bottom: 10px;
}

.star {
	width:30px;
}
.manager {
	font-size: 10px;
}
.btn-contact {
	margin-bottom: 5px;
}
.btn-go {
	background-color: #dfded6;
	border-color : black;
	color : black;
}

/* 참여, 불참여, 미정 */
.attend_1 {
	color: #007bff;
	font-weight: bold;
}

.attend_2 {
	color: gray;
}

.attend_3 {
	color: gray;
}

/* 모든 라디오 버튼색 */
.custom-radio input[type="radio"]:checked+label:before {
	background: black;
	border-color: #adb8c0;
}
/* 제출 버튼 */
#submit {
	background-color: gray;
	border-color: gray;
}

.text-import {
	color: red;
	font-weight: bold !important;
}

/* footer */
.lead {
	font-size: 1rem;
}